---
import { resume } from "../data/resume";

const { about } = resume;
---

<section class="px-6 py-12 sm:px-12">
  <div class="mx-auto max-w-3xl">
    <p class="text-lg leading-relaxed text-gray-600 dark:text-gray-400" style="text-wrap: balance;">
      {about}
    </p>
  </div>
</section>
